html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: $fuentePrincipal;
    font-size: 1.6rem;
}

p {
    font-size: 2rem;
    color: $negro;
}

.contenedor {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
    //contenedor para que se vaya centrando el hmtl
}

a {
    text-decoration: none;
    //codigo para quitarle todo el interlineado a los enlaces
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    margin: 0;
} //para eliminar el margen de los h1, h2 y h3
h1 {
    font-size: 4rem;
    font-weight: $black;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3rem;
}

.no-margin {
    margin: 0;
}